:root{
    --background: rgb(150, 150, 150);
    --accent1: lightblue;
    --accent2: rgb(200, 250, 200);
    --accent3: rgb(280, 230, 290);
    --accent4: rgb(110, 45, 160);
    --darkText: rgb(36, 36, 36);
    --lighttext: silver;
}
body{
    background-color: var(--background);
}

.flex-noWrap{
    display: flex;
    justify-content: space-evenly;
}

.mainComponent{
    display: inline-block;
    margin-top: 26px;
    padding-right: 26px;
}
.leftComponent{
    display: inline-block;
    padding-left: 26px;
}
.rightComponent{
    display: inline-block;
}
.header{
    background-color: var(--accent1);
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
}
.header > span{
    display: inline-block;
    color: darkslateblue;
}
.navBar{
    background-color: var(--accent1);
    border-radius: 10px;
    padding: 12px;
    margin: 16px;
    width: 100%;
    overflow: hidden;
}
.navItem{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    color: var(--darkText) !important;
    float: left;
}
.navIcon{
    margin-right: 6px;
    display: inline-block;
}
.navText{
    white-space: nowrap;
    display: inline-block;
}
.activeTab{
    border-bottom: var(--darkText) 2px solid;
    border-top: var(--darkText) 2px solid;
}
.wikiBar{
    background-color: var(--accent1);
    border-radius: 10px;
    padding: 12px;
    margin: 16px;
}
.wikiItem{
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}
.postForm{
    display: flex;
}
.postAvatarImg{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
}
.textAreaForm{
    flex-basis: 100%;
    padding-left: 10px;
}
.textArea{
    width: 100%;
    height: 100px;
    background-color: var(--accent2);
    border: none;
    color: silver;
}
.textAreaForm > .post{
    float: right;
    margin-top: 10px;
    background-color: var(--accent1);
    color: var(--darkText);
    border-radius: 10px;
    padding: 6px 16px 6px 16px;
    border: none;
}
.post{
    display: flex;
    background-color: var(--accent3);
    padding: 16px;
    margin: 16px;
    border-radius: 10px;
}
.post > div{
    padding-left: 10px;
    flex-basis: 100%;
    float: left;
    text-align: left;
}
.post > div > .username{
    font-size: 14px;
}
.post > div > .body{
    font-size: 18px;
}
.post > div > .stats{
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
}
.post > div > .stats > div{
    color: var(--accent4);
    padding-right: 3em;
}
.tab{
    color: var(--lighttext) !important;
}
.replyForm{
    padding-left: 16px;
}
.profileAvatar{
    height: 20%;
    width: 20%;
    border-radius: 100px;
    display: inline-block;
    border: 1px solid black;
}
.profileHeader{
    display: flex;
    margin-left: 26px;
    background-color: var(--accent2);
    padding: 10px;
    border-radius: 20px;
}
.profileHeaderUserName{
    margin-left: 26px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.profileDetail{
    display: flex;
}
.profileHeaderName{
    margin-left: 26px;
    font-size: 30px;
    display: flex;
}
.profileBio{
    margin-left: 26px;
    font-size: 16px;
    display: flex;
    text-align: left;
}
.profileData{
    margin-left: 10px;
    justify-content: left;
    width: 100%;
}
.profileBody{
    margin-left: 26px;
    margin-top: 26px;
    background-color: var(--darkText);
    border-radius: 20px;
    padding: 10px;
}
.profileNavItem{
    color: var(--darkText) !important;
}
.editButton{
    padding: 5px;
    float: right;
    display: flex;
}
.editAvatar{
    display: flex;
    position: relative;
    right: 7.8em;
    align-items: center;
}
.avatarContainer{
    width: 15em;
    height: 15em;
    display: inline-flex;
    justify-items: center;
    align-content: center;
}
.editProfileAvatar{
    width: 15em;
    height: 15em;
    border-radius: 8em;
    border: 1px solid black;
    display: flex;
    opacity: 0.5;
    z-index: 1;
}
.avatarModal{
    position: fixed;
    background: gray;
    border: 1px solid black;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:2;
}
.loginModal{
    position: fixed;
    background: lightcyan;
    border: 2px solid black;
    width: 50%;
    height: 50%;
    top: 25%;
    left: 25%;
    padding: 20px;
    display: flex;
    z-index: 2;
    align-items: center;
}
.loginModal > div{
    position: relative;
    height: 100%;
}
.loginModal > div > ul > li{
    text-align: left;
}
.cancelButton{
    position: absolute;
    top: 0;
    right: 0;
}
.avatarOption{
    height: 4.5em;
    width: 4.5em;
    border-radius: 50px;
    display: inline-block;
    margin: 1em 2em 1em 2em;
    z-index:3;
}
.selectedAvatar{
    border: 2px black solid;
}