.input-field {
    width: 30%;
}

.item-content-title{
    font-weight: bold;
    font-size: 18px;
}
.item-title {
    color: white;
    padding-bottom: 30px;
    font-size: 30px;
}
.item-content {
    color: white;
}


.full-div{
    align-items: center;

/* 
    position: fixed;
    align-items: center;
    top: 0px;
    left: 10%;
    width: 80%;
    
    height: 100vh;
    text-align: center;
    background-color: rgba(203,143,190); */


}
.search{
    width: 100%;
    justify-content: center;
    padding-right: 23%;
}
.search-title{
    color: white;
    padding-bottom: 30px;
}

.search-container {
    padding-top: 20px;
}

.mainComponent{
    margin-top: 26px;
    padding-right: 26px;
}